/* styles.css */

body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #e0e0e0;
    padding: 1em;
    text-align: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
  }
  
  header h1 {
    color: #555;
    font-size: 2em;
  }
  
  main {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ff0000;
  }
  
  article section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ff0000;
  }
  
  article h2 {
    color: #777;
    font-size: 1.5em;
    margin-top: 0;
    border-bottom: 1px dashed #b30000;
    padding-bottom: 5px;
  }
  
  article ul {
    list-style-type: square;
    color: #666;
    padding-left: 20px;
  }
  
  article ol {
    list-style-type: decimal;
    color: #666;
    padding-left: 20px;
  }
  
  article ol strong {
    color: #333;
  }
  
  figure {
    text-align: center;
    margin-top: 20px;
  }
  
  figure img {
    border: 5px solid #bbb;
    width: 50%; /* Ajustando el ancho de la imagen */
    height: auto;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
    color: #888;
    font-size: 0.9em;
  }
  
  footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #0056b3;
    text-decoration: underline;
  }